ul li{list-style-type: none;}
ul li a{color: white;font-weight: bold;text-decoration: none;transition: 600ms;}
ul li a:hover{color: rgb(194, 194, 194);}
.navbar-image img{height: 100px;}
nav i{color: white;font-size: 20px;}
nav{position: fixed;z-index: 99;width: 100%;}
.bi-box-fill{cursor: pointer;}
#pr_id_1{scale: .7;}